.text-topic {
    font-size: clamp(16px, 2vw + 0.8rem, 30px); /* Responsive, min 20px, max 30px */
    font-weight: 600; 
    color: #801111;
    font-family: 'Prompt'; 
    margin-bottom: 10px; /* Add some space after the title */
    
}

.text-detail {
    font-size: clamp(12px, 2vw + 0.5rem, 20px); /* Responsive, min 14px, max 20px */
    font-weight: light; 
    color: #000000;
    font-family: 'Prompt';
    line-height: 1.8; /* Adjust line height for better readability */
    text-align: justify; /* Justify the text */
    margin-bottom: 10px; /* Add space between paragraphs */
}   

.text-detail-indent {
    font-size: clamp(12px, 2vw + 0.5rem, 20px); /* Responsive, min 14px, max 20px */
    font-weight: light; 
    color: #000000;
    font-family: 'Prompt';
    line-height: 2; /* Adjust line height for better readability */
    margin-bottom: 10px; /* Add space between paragraphs */
    text-indent: 2em; /* Indent the first line of each paragraph */
}

.text-bold {
    
    font-size: clamp(18px, 2vw + 0.5rem, 22px); /* Responsive, min 18px, max 22px */
    font-weight: 600;
    color: #801111;
    font-family: 'Prompt';
    margin-top: 20px; /* Space before section titles */
    margin-bottom: 10px; /* Space after section titles */
}

.text-not {
    margin-top: 10%;
    font-size: clamp(60px, 5vw + 1rem, 90px); /* Responsive, min 60px, max 90px */
    font-weight: medium;
    color: #716B6B;
    font-family: 'Prompt';
}
